---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>About me</h4>
  <!-- <p style="line-height:1.4"> I am a tenure-track assistant professor with Department of Computer Science, <a href="https://www.en.aau.dk/">Aalborg University</a>, Denmark. 
I am a member of <a href="https://www.cs.aau.dk/research/Data-Engineering-Science-and-Systems"> Data Engineering, Science and Systems (DESS)</a> group. 
I recieved the Ph.D. degree from Aalborg University, Denmark, in 2022, under the supervision of <a href="http://people.cs.aau.dk/~csj"> Prof. Christian S. Jensen</a>, <a href="https://person.zju.edu.cn/en/luchen"> Prof. Lu Chen</a>, and <a href="http://people.cs.aau.dk/~tbp"> Prof. Torben Bach Pedersen</a>. 
I won several awards including <a href="https://icde2022.ieeecomputer.my/best-papers/">ICDE 2022 Best Paper</a>, NDBC 2022 One of the Best Papers, and ICCSIE 2022 Best Paper.
I have served on the Program Committees of top conferences including ICDE, KDD, AAAI, etc, and as a reviewer of prestigious journals including VLDBJ, TKDE, TNSE, etc.  </p> -->
  <p style="line-height:1.4">
  I am a tenure-track assistant professor with Department of Computer Science, Aalborg University, Denmark. I am a member of Data Engineering, Science and Systems (DESS) group. I recieved the Ph.D. degree from Aalborg University, Denmark, in 2022, under the supervision of <a href="https://csj.cs.aau.dk" target="_blank">Prof. Christian S. Jensen</a>, <a href="https://person.zju.edu.cn/en/luchen" target="_blank">Prof. Lu Chen</a>, and <a href="https://homes.cs.aau.dk/~tbp/" target="_blank">Prof. Torben Bach Pedersen</a>. I won several awards including <a href="https://icde2022.ieeecomputer.my/best-papers/" target="_blank">ICDE 2022 Best Paper</a> (first author), NDBC 2022 One of the Best Papers, and ICCSIE 2022 Best Paper. I am the project co-investigator of Horizon European Framework Program (HORIZON) and Digital Research Centre Denmark Project (DIRECT).</p>

  <h4>Research Interests</h4>
  <p style="line-height: 50%;">My current research interests include: </p>
  <ul style="line-height: 80%;">
      <li>Data Management and Analytics</li>
      <li>Intelligent Transportation </li>
      <li>Database Technology</li>
      <li>Machine Learning</li>
      <li>Complex Network</li>
      <li>Digital Twin</li>
  </ul>
</div>
<div class="docs-section" id="publications">
  <h4>Selected publications</h4>
  <p>Full publications on <a href="https://scholar.google.com/citations?user=NeeHV-IAAAAJ&hl=en&oi=ao" target="_blank">Google Scholar</a> and <a href="https://dblp.org/pid/85/11154-5.html" target="_blank">DBLP</a>, and * denotes the corresponding author</p>
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-2024">2024</div></li>
    <li><div class="button" data-ref="#papers-2023">2023</div></li>
    <li><div class="button" data-ref="#papers-2022">2022</div></li>
    <li><div class="button" data-ref="#papers-before2022">Before 2022</div></li>
    <li><div class="button" data-ref="#papers-cf">Conference</div></li>
    <li><div class="button" data-ref="#papers-journal">Jouranl</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>    
  </ul>

  <div class="tab-content">
    <!-- 2024 PAPERS -->
    <div class="tab-pane active" id="papers-2024">
      {% assign l2024_papers = site.data.publications.papers | where: "year2024", "y" %}
      {% for paper in l2024_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>

    <!-- 2023 PAPERS -->
    <div class="tab-pane" id="papers-2023">
      {% assign l2023_papers = site.data.publications.papers | where: "year2023", "y" %}
      {% for paper in l2023_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>

    <!-- 2022 PAPERS -->
    <div class="tab-pane" id="papers-2022">
      {% assign l2022_papers = site.data.publications.papers | where: "year2022", "y" %}
      {% for paper in l2022_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>

    <!-- before 2022 PAPERS -->
    <div class="tab-pane" id="papers-before2022">
      {% assign before2022_papers = site.data.publications.papers | where: "beforeyear2022", "y" %}
      {% for paper in before2022_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>

    <!-- Conference PAPERS -->
    <div class="tab-pane" id="papers-cf">
      {% assign cf_papers = site.data.publications.papers | where: "conference", "y" %}
      {% for paper in cf_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
            <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Journal PAPERS -->
    <div class="tab-pane" id="papers-journal">
      {% assign jl_papers = site.data.publications.papers | where: "journal", "y" %}
      {% for paper in jl_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
          {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
        </div>
      {% endfor %}
    </div>

    <!-- All PAPERS -->
    <div class="tab-pane" id="papers-all">
      {% assign papers = site.data.publications.papers %}
      {% for paper in papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">PDF</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
            <div class="paper-buttons">

          </div>
        </div>
      {% endfor %}
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var papers = document.querySelectorAll('.paper');
        papers.forEach(function(paper) {
          var authorP = paper.querySelector('p:nth-of-type(2)'); // 假设作者总是在第二个p元素中
          if (authorP) {
            var authors = authorP.textContent;
            var updatedAuthors = authors.replace(/(\w+\s\w+)\+/g, "<strong>$1</strong>").replace(/\+/g, '');
            authorP.innerHTML = updatedAuthors; // 更新作者列表
          }
        });
      });
    </script>
  </div>
</div>

<div class="docs-section" id="award">
  <h4>Selected Awards</h4>
  {% assign current_awards = site.data.awards.awards %}
  {% for award in current_awards %}
  <div class="class">
    <p style="line-height: 0.7"> {{ award.name }}, {{ award.conference }}, {{ award.time }}</p>
  </div>
  {% endfor %}
</div>

<div class="docs-section" id="people">
  <h4>Students</h4>
  <ul class="tab-nav">
    <li><div class="button" data-ref="#people-phd">PHD Student</div></li>
    <li><div class="button" data-ref="#people-visiting">Visiting Research Students</div></li>
    <li><div class="button active" data-ref="#people-postdoc">Postdocs</div></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="people-phd">
      {% assign current_people = site.data.students.students | where: "phd", "y"  %}
        {% for person in current_people %}
          <div class="paper">
            <p style="line-height: 0.5">
              {% if person.link %}
              <a href="{{ person.link | prepend: site.baseurl }}" target="_blank"><b>{{ person.name }}</b></a>
              {% else %}
              <b>{{ person.name }}</b>
              {% endif %}
            </p>
            <p style="line-height: 0.5"></p>
            {{ person.time }}
            </p> 
            <p style="line-height: 0.5"></p>
            {{ person.type }}
            </p> 
            <p style="line-height: 0.5"></p>
            Topic: {{ person.topic }}
            </p> 
          </div>
        {% endfor %}
    </div>
    <div class="tab-pane" id="people-visiting">
      {% assign current_people = site.data.students.students | where: "visiting", "y"  %}
        {% for person in current_people %}
          <div class="paper">
            <p style="line-height: 0.5">
              {% if person.link %}
              <a href="{{ person.link | prepend: site.baseurl }}" target="_blank"><b>{{ person.name }}</b></a>
              {% else %}
              <b>{{ person.name }}</b>
              {% endif %}
            </p>
            <p style="line-height: 0.5"></p>
            {{ person.time }}
            </p> 
            <p style="line-height: 0.5"></p>
            {{ person.type }}
            </p> 
            <p style="line-height: 0.5"></p>
            Topic: {{ person.topic }}
            </p> 
          </div>
        {% endfor %}
    </div>
    <div class="tab-pane active" id="people-postdoc">
      {% assign current_people = site.data.students.students | where: "postdoc", "y"  %}
        {% for person in current_people %}
          <div class="paper">
            <p style="line-height: 0.5">
              {% if person.link %}
              <a href="{{ person.link | prepend: site.baseurl }}" target="_blank"><b>{{ person.name }}</b></a>
              {% else %}
              <b>{{ person.name }}</b>
              {% endif %}
            </p>
            <p style="line-height: 0.5"></p>
            {{ person.time }}
            </p> 
            <p style="line-height: 0.5"></p>
            {{ person.type }}
            </p> 
            <p style="line-height: 0.5"></p>
            Topic: {{ person.topic }}
            </p> 
          </div>
        {% endfor %}
    </div>
  </div>

</div>

<div class="docs-section" id="project">
  <h4>Projects</h4>
  {% assign current_projects = site.data.projects.projects %}
  {% for project in current_projects %}
  <div class="project">
    <p class="title"> {{ project.role }}, <b>{{ project.title }}</b>, {{ project.subtitle }}.</a></p>
  </div>
  {% endfor %}
</div>

<!-- ========== Services ========== -->
<div class="docs-section" id="services">
  <h4>Services</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#services-conferences">Conferences</div></li>
    <li><div class="button" data-ref="#services-journal">Journals</div></li>
  </ul>

  <div class="tab-content">

    <!-- Conferences -->
    <div class="tab-pane active" id="services-conferences">
      {% assign conferences = site.data.services.services | where: "conference", "y" %}
      {% for paper in conferences %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p><i>{{ paper.role }}</i></p>
        </div>
      {% endfor %}
    </div>

    <!-- Journal -->
    <div class="tab-pane" id="services-journal">
      {% assign journals = site.data.services.services | where: "journal", "y" %}
      {% for paper in journals %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p><i>{{ paper.role }}</i></p>
        </div>
      {% endfor %}
    </div>

  </div>
</div>

<div class="docs-section" id="teaching">
  <h4>Teaching</h4>
  {% assign current_classes = site.data.classes.classes %}
  {% for class in current_classes %}
  <div class="class">
    <p class="title"> {{ class.role }}, {{ class.name }}, {{ class.time }}</a></p>
  </div>
  {% endfor %}
</div>



<!-- ========== RESUME ========== -->
<!-- The Timeline -->
<!-- <div class="docs-section" id="resume">
  <h4>Vitæ</h4>
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l"> 
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div> -->


<div class="docs-section" id="ack">
  <h4>Acknowledgement</h4>
  <p>
    This website uses the website design and template by <a href="https://hengyuliu.com/">Hengyu Liu</a>, <a href="https://faculty.washington.edu/msaveski/">Martin Saveski</a>, <a href="https://www.zitaoliu.com/index.html#news">Zitao Liu</a> and <a href="http://thashim.github.io">Tatsunori Hashimoto</a>
  </p>

</div>
